<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Meeting</h1>
    <section class="update availability">
        <form action="meetings/updateAvail" method="PUT">
            <fieldset>
                <legend></legend>
                    <ul>
                        <li class='meetLogItem'><%= meetings %></li>
                    </ul>
                <button type="submit">Enter your meeting availability information</button>
            </fieldset>
        </form>
    </section>

    <script src="js/main.js"></script>
</body>
</html>