<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <section class="bg-dark text-light p-5 text-center text-sm-start vh-100">
        <div class="container">
            <div class="d-sm-flex justify-content-between align-items-center">
                <div>
                    <h1>Booker</h1>
                    <span class="fw-bold d-block">Create meetings</span>
                    <span class="fw-bold text-warning d-block pb-2">Anytime, Anywhere</span>
                    <a class='btn btn-primary my-2' href="/login"> Login</a>
                    <a class='btn btn-primary my-2' href="/signup"> Signup</a>

                    <form class="my-3 input-group" action="/meetings/accessMeeting" method="POST">
                        <label for="meetingId" class="fs-6 text-muted">
                            Already have a meeting link?
                        </label>
                        <input type="hidden" name="objectId">
                        <input id="meetingId"class="text my-2" type="text" name="access" placeholder="Meeting ID">
                        <input class='btn btn-primary my-2' type="submit">
                    </form>
                </div>
                <img class="img-fluid w-50" src="/images/connectedWorld.svg" alt="connected world">
            </div>


        </div>
    </section>


    
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

        <!-- Bootstrap JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
</body>
</html>